{php $indexc = 6;}
{template ./base/cn-header.html}
<img src="{SITE_THEME}image/top-img4.jpg" class="top-bg">
    <div class="top-child-menu">
        <div class="container-body">
            <a href="/index.php?c=content&a=list&catid={$catid}" class="top-child-menu-btn active">视频中心</a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="container-body">
        <div class="vedio-list">
            {list catid=$catid more=1 cache=36000}
            <a href="{$t['url']}" class="vedio-list-item">
                <div class="vedio-list-item-logo">
                    <img src="{$t['thumb']}" alt="">
                    <i class="fa fa-play-circle"></i>
                </div>
                <h2 class="vedio-list-item-name">{$t['title']}</h2>
            </a>
            {/list}
            <div class="clear"></div>
        </div>
    </div>
{template ./base/cn-footer.html}